---

env:
  http_proxy:
  https_proxy:

macports_packages:
  - autossh
  - bsdiff
  - chezmoi
  - cloc
  - coreutils
  - dive
  - duplicity
  - erlang
  - fasd
  - fzf
  - git
  - glances
  - htop
  - httpie
  - iftop
  - inetutils
  - jrnl
  - lesspipe
  - mosh
  - mtr
  - ncurses
  - ncdu
  - neovim
  - nvim
  - p5-innotop
  - parallel
  - pv
  - readline
  - rcm
  - rdfind
  - ripgrep
  - slurm
  - sysdig
  - tmux
  - tmux-pasteboard
  - tor
  - tree
  - ttyrec
  - vcs_blackbox
  - vcs_blackbox
  - vscode
  - wtfutil
  - yadm
  - zmq

homebrew_cask_app_dir: /Applications

homebrew_cask_packages:
  - finicky
  - font-hack-nerd-font
  - keycastr

homebrew_packages:
  - bitbar
  - zmap

homebrew_taps:
  - homebrew/core
  - homebrew/cask

dotfiles:
  install_dir: "{{ lookup('env','HOME') }}/.dotfiles"
  git:
    git_path: /usr/bin/git
  rcm:
    rcup_path: /opt/local/bin/rcup
    repo:
      name: https://github.com/ryankanno/dotfiles.git
      version: HEAD

anyenv:
  git_url: https://github.com/riywo/anyenv.git
  install_dir: "{{ lookup('env','HOME') }}/.anyenv"
  environments:
    - pyenv
    - rbenv

pyenv:
  pythons:
    - 2.7.9
    - 3.2.6
    - 3.3.6

rbenv:
  rubies:
    - 1.9.3-p551

dock:
  persistent_apps:
    - /Applications/iTerm.app

bashmarks:
  git_url: https://github.com/huyng/bashmarks.git
  install_dir: "{{ lookup('env','HOME') }}/.bashmarks"

bash_it:
  git_url: https://github.com/Bash-it/bash-it
  install_dir: "{{ lookup('env','HOME') }}/.bash_it"
