---

env:
  http_proxy:
  https_proxy:

macports_packages:
  - bsdiff
  - cloc
  - erlang
  - git
  - htop
  - iftop
  - lesspipe
  - "'MacVim @7.4.snapshot76_1+huge+python27+ruby20'"
  - mosh
  - mtr
  - ncurses
  - ncdu
  - p5-innotop
  - parallel
  - pv
  - readline
  - rcm
  - slurm
  - sysdig
  - the_silver_searcher
  - tmux
  - tmux-pasteboard
  - tor
  - tree
  - ttyrec
  - vcs_blackbox
  - zmq

dotfiles:
  install_dir: "{{ lookup('env','HOME') }}/.dotfiles"
  git:
    git_path: /usr/bin/git
  rcm:
    rcup_path: /opt/local/bin/rcup
    repo:
      name: https://github.com/ryankanno/dotfiles.git
      version: HEAD

anyenv:
  git_url: https://github.com/riywo/anyenv.git
  install_dir: "{{ lookup('env','HOME') }}/.anyenv"
  environments:
    - pyenv
    - rbenv

pyenv:
  pythons:
    - 2.7.9
    - 3.2.6
    - 3.3.6

rbenv:
  rubies:
    - 1.9.3-p551

dock:
  persistent_apps:
    - /Applications/iTerm.app

bashmarks:
  git_url: https://github.com/huyng/bashmarks.git
  install_dir: "{{ lookup('env','HOME') }}/.bashmarks"

bash_it:
  git_url: https://github.com/Bash-it/bash-it
  install_dir: "{{ lookup('env','HOME') }}/.bash_it"
