---

env:
  http_proxy:
  https_proxy:

macports_packages:
  - chezmoi
  - erlang

homebrew_bin_path: /usr/local/brew

homebrew_installed_packages:
  - docker
  - tailscale

homebrew_taps:
  - homebrew/core
  - homebrew/cask

homebrew_cask_appdir: /Applications

homebrew_cask_apps:
  - alacritty
  - zoom

homebrew_user: "{{ ansible_user_id }}"
homebrew_group: "{{ ansible_user_gid }}"

dotfiles:
  install_dir: "{{ lookup('env','HOME') }}/.dotfiles"
  git:
    git_path: /usr/bin/git
  rcm:
    rcup_path: /opt/local/bin/rcup
    repo:
      name: https://github.com/ryankanno/dotfiles.git
      version: HEAD

anyenv:
  git_url: https://github.com/riywo/anyenv.git
  install_dir: "{{ lookup('env','HOME') }}/.anyenv"
  environments:
    - pyenv
    - rbenv

pyenv:
  pythons:
    - 2.7.9
    - 3.2.6
    - 3.3.6
    - 3.8.2
    - 3.10.0

rbenv:
  rubies:
    - 1.9.3-p551

dock:
  persistent_apps:
    - /Applications/Firefox.app

bash_it:
  git_url: https://github.com/Bash-it/bash-it
  install_dir: "{{ lookup('env','HOME') }}/.bash_it"
